# Path Settings
pupdate $HOME/go/bin
pupdate /usr/local/Frameworks/Python.framework/Versions/3.8/bin
pupdate /usr/local/opt/ruby/bin

# Python Environment Setup
alias python=python3
export VIRTUALENVWRAPPER_PYTHON=/usr/local/bin/python3
export PIP_REQUIRE_VIRTUALENV=true
export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/Projects
source /usr/local/bin/virtualenvwrapper.sh

# Firefox Bin Path
pupdate /Applications/Firefox.app/Contents/MacOS

# SCM Breeze
[ -s "/Users/bertiet/.scm_breeze/scm_breeze.sh" ] && source "/Users/bertiet/.scm_breeze/scm_breeze.sh"

# Config
export XDG_CONFIG_DIRS="$HOME/.config"

# Powerline Overrides
export POWERLINE_THEME_OVERRIDES="default.segment_data.docker.display=true;default.segment_data.kubernetes.display=true"
